.section__category {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.section__category__heading {
  text-align: center;
}

.section__category__heading>h2 {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}

.section__category__heading>h3 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
  margin-inline:  auto;
}

.cards-cont {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  row-gap: 5rem;
}